* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 238, 215);
    background-size: 100%;
    background-position: 97px;

}




.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50;}
.logo_contact {
    width: 28px;
    

    
}
.contact_link {
    text-decoration: none ;
    color: #28454777;
    font-size: 20px;
    font-family: Prompt;
    margin-left: 15px;
    

}
.contact_link:hover {
    color: #87c7c7;
    transition: all 1s;
}
.list {
    list-style: none;
    margin: 20px 0;
}

h1 {
    font-size: 70px;
    margin-top: 170px;
    margin-left: 200px;
    font-family: Audiowide;
    text-shadow: 0 0 20px rgba(134, 217, 223, 0.829);
    color: #000000d0
    
  }
.vs {
    display: flex;
    background: url(image/pngwing.com\ \(1\).png) no-repeat;
    background-size: 120%;
    
    margin-left: 60px;
}

.position {
    display: flex;
    align-items: center;
    margin-top: 5px;

}

.contact {
    font-size: 50px;
    margin-top: 0.1px;
    margin-left: 60px;
    background: url(image/transparent-purple-violet-text-pink-logo-purple-png-images-free-png-library5dae74af6887f1.8086683415717142234282.png) no-repeat;
    background-size: 1000px;
    background-position: bottom -70px right -400px;

}

h2 {
    font-size: 30px;
    margin-top: 170px;
    margin-left: 200px;
    font-family: Audiowide;
    text-shadow: 0 0 20px rgba(134, 217, 223, 0.829);
    
  }

  .h2_1 {
     color: #535757;
     font-size: 20px;
     margin-left: 100px;}

 

.line2 {
    height: 3px;
    width: 100%;
    background: #80c5c5b2;
    margin-bottom: -130px;
    
}

.h2_2 {
    font-size: 70px;
    margin-top: 170px;
    margin-left: 80px;
    font-family: Audiowide;
    text-shadow: 0 0 20px rgba(134, 217, 223, 0.829);
    color: #000000d0;
  }
  .text1{
    font-size: 30px;
    margin-left: 90px;
    margin-top: 60px;
    font-family: Audiowide;
    text-shadow: 0 0 20px rgba(60, 61, 61, 0.76);
  }


.Summarys {
    margin-top: -100px;
    background: url(image/icons8-круто-80.png) no-repeat;
    background-size: 100px;
    background-position: bottom 200px right 600px;

}

.linhDev {
    text-decoration: none ;
    color: #000000;
}
.linhDev:hover {
    color: #356161;
    transition: all 1s;
}



.list_1{
    font-size: 25px;
    margin-top: 50px;
    margin-left: 200px;
    font-family: Audiowide;
    text-shadow: 0 0 20px rgba(60, 61, 61, 0.692);

}

h3 {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 200px;
    font-family: Audiowide;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.829);
}
    



.h3_1 {
    color: #535757;
     font-size: 30px;
     margin-left: 150px;
}

.list_2 {
    font-size: 25px;
    margin-top: 50px;
    margin-left: 40px;
    font-family: Audiowide;
    text-shadow: 0 0 20px rgba(60, 61, 61, 0.692);
    list-style: none;


}

.text2 {
    font-size: 30px;
    margin-left: 200px;
    margin-top: 60px;
    font-family: Audiowide;
    text-shadow: 0 0 20px rgba(47, 245, 29, 0.76);
   

}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(241, 209, 148);
    color: white;
    
}

.yers {
    font-size: 100px;
    font-family: Audiowide;
}















.avatar img {
    margin-top: 90px;
    width: 240px;
    height: 240px;
    margin-left:100px;
    
    
    
    filter: drop-shadow(3px 5px 5px rgba(73, 72, 71, 0.945));
    background: none;
}
